<!doctype html>
<html>
	<head>
		<title>Hello, Vue!</title>
		<script type="text/javascript" src="vue.js"></script>
	</head>

	<body>
		<div id="app">
			<input type="text" placeholder="할 일!" v-model="inputTodo" @keyup.enter="addTodo"/>
			<button @click="addTodo">추가</button>
			<ul>
				<li v-for="(todo, index) in todos" @click="removeTodo(index)">
					{{ todo }}
				</li>
			</ul>
		</div>

		<script type="text/javascript">
			new Vue({
				el: '#app',
				data: {
					todos: [
						'빨래하기',
						'출근하기',
						'청소하기'
					],
					inputTodo: ''
				},
				methods: {
					addTodo: function (event) {
						this.todos.push(this.inputTodo);
						this.inputTodo = '';
					},
					removeTodo: function (index) {
						this.todos.splice(index, 1);
					}
				}
			});
		</script>
	</body>
</html>